.panel-body{
    text-align: center;
    grid-auto-rows: 2fr;
}
.temp{
    font-size: 4.5em;
}
.tempLbl{
    text-decoration: underline;
}
.humidity{
    font-size: 4.5em;
}
.humidity h3{
    text-decoration: underline;
}
