<div class="apanel panel panel-primary scrollbar-light-blue">
  <div class="panel-heading">Twitter Feed</div>
  <div class="panel-body">
    <a href="https://api.iextrading.com/1.0/stock/jnj/chart/date/20180626">
      User clicks event. Date(YYYYMMDD) and time (HH:MM) are passed from event
      panel to twitter/stock panel. On receive, this panel makes an ajax request with the date.
      When the ajax returns the json data, the time is used to decide what prices are displayed <br><br>
      Make a stock class with date, time, and price attribute so that you can use angular for the calls
    </a>
  </div>
</div>
