body{
  margin: 0;
  padding: 10px;

}
.logo{
  padding: 10px;
  float: right;

}
h1{
  font-size: 50px;
  text-align: left;
  color: #337ab7;
  text-decoration: underline;
}
footer{
  text-align: center;
}

html{
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

