<div class="apanel panel panel-primary scrollbar-light-blue">
  <div class="panel-heading">Historical Temperature Data</div>
    <div class="panel-body" *ngIf="temperatureData">
      <button (click)="displayAll()">All Temperatures</button>
      <button (click)="displayPastWeek()">Past Week</button>
      <button (click)="displayPastDay()">Past Day</button>
      <script src="node_modules/chart.js/src/chart.js"></script>

      <canvas baseChart width="600" height="375"
              [datasets]="temperatureData"
              [labels]="xlabels"
              [colors]="chartColor"
              [chartType]="chartType"
              [options]="{showXLabels: 10}"></canvas>

      <canvas id="myChart1" height="300" width="500"></canvas>


    </div>
</div>
