<div class="apanel panel panel-primary scrollbar-light-blue">
  <div class="panel-heading">Historical Temperature Data</div>
    <div class="panel-body" *ngIf="temperatureData">

      <button (click)="displayPastWeek()">Past Week</button>
      <button (click)="displayPastDay()">Past Day</button>
      <script src="node_modules/chart.js/src/chart.js"></script>

      <canvas baseChart height="100"
              [datasets]="temperatureData"
              [labels]="xlabels"
              [colors]="chartColor"
              [chartType]="chartType"
              [options]="{showXLabels: 10}"></canvas>

      <div id="tAndH" *ngIf="temp">
        <div class="temp"><h3 class="tempLbl">Temperature</h3> {{temp.temp ? (temp.temp | number: "1.2-2")+ "&#x2109;" : "No Temperature Data"}} </div>
        <div class="humidity"><h3>Humidity</h3> {{temp.humidity ? (temp.humidity | number: "1.2-2") + "&#37;": "No Humidity Data"}}  </div>
      </div>

  </div>
</div>
