<div class="apanel panel panel-primary">
  <div class="panel-heading">Events</div>
    <div class="panel-body">
      <table id="eventsTable" style="width:100%">
        <tbody>
          <tr (click)="click(motionEvent)" class="data" *ngFor="let motionEvent of motionEvents | paginate: { itemsPerPage:9, currentPage: p}">
            <!--<td>{{motionEvent.occurredTs | date: "MMM d, y | h:mm:ss a"}}</td>-->
            <td>{{motionEvent.occurredTs | amParse: "YYYY-MM-DD hh:mm:ss" | amDateFormat: "MMM D, Y &nbsp; h:mm:ss A"}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls class="pageControl"
         previousLabel = "Prev"
         nextLabel = "Next"
         (pageChange)="p = $event"
         maxSize = "0">
       </pagination-controls>
    </div>
</div>

<audio id = "doorbell" src="https://www.soundjay.com/door/sounds/doorbell-7.mp3"></audio>
