/* You can add global styles to this file, and also import other style files */
.apanel{
  margin: 1%;
  width: 48%;
  height: 450px;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 600px){
  .apanel{

    height: 350px;
  }
}
